      body{
        color: #1faee9;
        text-shadow: grey 0 0 2px;
      }
      input{
        margin: 5px;
      }
      div { 
        margin: auto;
        width: 364px;  
        background: #b0e0e6;  
        outline: 2px solid #b0e0e6; 
        border: 3px solid #b0e0e6;
        border-radius: 10px; 
        box-shadow: 0 0 10px #000;
      }
      .checkbox{
        position: relative;
        }
      .one{
        position: absolute;
        left: -999px;
      }
      input[name="Отчество"]:checked ~ span.one {
        left: auto;
      }