*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: #cecece;
  margin: 22px;
  font-size: 24px;
  padding-left: 20px;
}

.form-box {
  width: 50%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border-radius: 10px;
  border: #454545 3px solid;
}

.form-box input, select {
  display: block;
  text-align: left;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  margin-top: 8px;
  padding: 3px;
  height: 40px;
}

.form-box label {
  display: block;
  text-align: left;
  font-size: 20px;
  width: 100%;
  margin-top: 8px;
}

.form-box textarea {
  height: 55px;
}

form h2 {
  color: #454545;
}