@import './fonts.css';

h1 {
  font-size: 50px;
  text-align: center;
  font-family: rickAndMortyFont;
  color: #10B2C9;
  text-shadow: -2px -2px 0 #C0D75B, 2px -2px 0 #C0D75B, -2px 2px 0 #C0D75B, 2px 2px 0 #C0D75B;
  margin-bottom: 15px;
  margin-top: 5px;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  width: 100%;
  justify-items: center;
  margin-bottom: 20px;
}

.card {
  width: 200px;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px rgba(75, 94, 0, 0.103);
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 #0000000c;
  background-color: #FCFFFF;
}

.image {
  width: inherit;
  grid-row: 1;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 0px;
}

.info {
  grid-row: 2;
  margin-left: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.info p {
  margin: 0px;
  padding: 0px;
}

.name {
  font-size: 20px;
  font-weight: 1000;
  color: #5CAD4A;
}

.feature {
  font-weight: 500
}

.loading h1 {
  margin-top: 0px;
}

.loading img {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

.error img {
  position: fixed;
  width: 600px;
  margin-bottom: 0px;
  bottom: 0px;
  left: 300px;
}

.error-message {
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.not-found h1 {
  font-size: 100px;
  margin: 0px;
}

#page-nums {
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 0px;
}

.page-link {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.current {
  background-color: #5CAD4A;
  color: #fff;
  border-radius: 5px;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.search-bar input {
  border: 1px solid;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
}

.no-matches body {
  background-color: #fff;
}